*{
  margin: 0;
  padding: auto;
  box-sizing: border-box;
  

}

.App{
 color:#718393; 
 
 
 
}
a{
text-decoration: none;
}
.navigation a:hover{
  color: #DCDCDC;
}
.App-header{
  margin: 10px 12vw ;
  font-size: 14px;
  font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-panel{
  display: flex;
  align-items: center;

}

.App-logo{
  height: 61px;
  width: 61px;  
  pointer-events: none;
}
.logo-text {
  color:#8A8A8A;
  margin-left: 15px;
}
.logo-text:hover{
color: #b8b8b8;
}

.elementor-divider{
  padding-top: 15px 0;
  display: flex;
  max-width: 1150px;
  margin-right: auto;
    margin-left: auto;
}
.elementor-divider-separator{
  border-top: solid 1.4px #242424;
width: 100%;
}
    
.navigation a{
  color: #9a9a9a;
  margin: 5px 10px;
}
.container {
  padding: 70px 0; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.photo  img{
  width: 120px;
  height: 120px;
  vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
}

.text {
	font-size: 14px;
	color: #9A9A9A;
	margin-bottom: 20px;
	text-align: center;
}

h1 {
	font-size: 56px;
  font-weight: 400;
	color: #9A9A9A;
	text-align: center;
	margin-bottom: 20px;
}

.button {
	font-family: "Outfit", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    fill: #9A9A9A;
    color: #9A9A9A;
    background-color: #1A1A1A;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #242424;
    padding: 24px 48px 24px 48px;
	transition: all 0.3s ease;
  
}

.button:hover {
	transform: scale(0.9);
}

.element-widget-container-h2  {
  
  background-color: #515151;
  background: linear-gradient(97.13deg, #fafafa 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    padding: 0px 250px 25px 250px;
margin-top: 130px;
margin-bottom: 100px;
text-align: center;
}
.cards-container{
  max-width: 1140px;
  justify-content: center;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box;
  gap: 50px;
   margin-bottom: 70px;
}
.card-wrapper{
  width: 25%;
}
.inside-card{
  background-color: #1A1A1A;
  border-style: solid;
  border-width: 1px;
  border-color: #242424;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px;
  padding: 140px 20px 30px 20px
}
.icon-card-wrapper{
 display: flex;
 justify-items: flex-start;
  color: #818a91;
  margin-bottom:20px;
  height: 27px;
  width: 27px;
}
.card-text-wrapper{
  box-sizing: border-box;
  color:#8A8A8A;
  font-family: "outfit", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  opacity: 0.8;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
.card-h2-wrapper{
  margin: -8px 0px 0px 0px;
  color: #8A8A8A;
    font-family: "Outfit", Sans-serif;
    font-size: 18px;
    font-weight: 400; 
    text-align: left;
    margin-bottom:15px;
}
.footer-buttons{
  display: flex;
  gap: 20px;
}